*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

._card-container{
    
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    /* box-shadow: 2px 2px wheat; */
}
._text-content{
    font-size: 14px;
    font-weight: 500;
}
KeyboardArrowDownIcon :hover{
    animation: rotate 1s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}